nav {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 10px 0px 10px 0px rgb(54, 52, 52);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-left: 0px;
  margin-top: 0px;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: rgb(59, 59, 61);
  font-weight: bolder;
}
.navel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 30px;
}
.liste2 {
  list-style: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-left: 30px;
  width: 100px;
}
#im1 {
  width: 200px;
  margin-left: 0px;
  margin-top: 20px;
}
/* end nav*/
main {
  background-color: rgb(222, 241, 235);
}
#vid1 {
  margin-left: 0px;
  margin-top: 90px;
  width: 1338px;
}
h1,
h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: rgb(2, 2, 49);
}
p {
  width: 700px;
  color: black;
}
footer {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 217, 217);
}
